<div class="row">
    <div class="col">
        <h1>*ngIf</h1>
        <hr>
        <div *ngIf="isPhraseShowing" class="card text-white bg-dark mb-3">
            <div class="card-body">
                <h5 class="card-title">{{phrase.author}}</h5>
                <p class="card-text">{{phrase.message}}</p>
            </div>
        </div>
        <button type="button" class="btn btn-outline-dark" (click)="togglePhrase()">Show/Hide</button>
    </div>
    <div class="col">
        <h1>*ngFor</h1>
        <hr>
        <ul class="list-group">
            <li *ngFor="let character of characters; let i = index" class="list-group-item">{{i + 1}}. {{character}}</li>
          </ul>
    </div>
</div>