<div class="container">
    <h1 class="mt-3">Pipes <small>Angular</small></h1>
    <hr>

    <div class="row">
        <div class="col">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Variable</th>
                        <th>Pipe</th>
                        <th>Salida</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{name2}}</td>
                        <td>capitalized</td>
                        <td>{{name2 | capitalized:true}}</td>
                    </tr>
                    <tr>
                        <td>{{name}}</td>
                        <td>uppercase</td>
                        <td>{{name | uppercase}}</td>
                    </tr>
                    <tr>
                        <td>{{name}}</td>
                        <td>lowercase</td>
                        <td>{{name | lowercase}}</td>
                    </tr>
                    <tr>
                        <td>{{name}}</td>
                        <td>slice:3</td>
                        <td>{{name | slice:3}}</td>
                    </tr>
                    <tr>
                        <td>{{name}}</td>
                        <td>slice:0:3</td>
                        <td>{{name | slice:0:3}}</td>
                    </tr>
                    <tr>
                        <td>{{array}}</td>
                        <td>slice:1:5</td>
                        <td>{{array | slice:1:5}}</td>
                    </tr>
                    <tr>
                        <td>{{PI}}</td>
                        <td>number:'3.0-0'</td>
                        <td>{{PI | number:'3.0-0'}}</td>
                    </tr>
                    <tr>
                        <td>{{PI}}</td>
                        <td>number:'1.0-0'</td>
                        <td>{{PI | number:'1.0-0'}}</td>
                    </tr>
                    <tr>
                        <td>{{PI}}</td>
                        <td>number:'.0-2'</td>
                        <td>{{PI | number:'.0-2'}}</td>
                    </tr>
                    <tr>
                        <td>{{percentage}}</td>
                        <td>percent</td>
                        <td>{{percentage | percent}}</td>
                    </tr>
                    <tr>
                        <td>{{percentage}}</td>
                        <td>percent:'2.2-2'</td>
                        <td>{{percentage | percent:'2.2-2'}}</td>
                    </tr>
                    <tr>
                        <td>{{salary}}</td>
                        <td>currency</td>
                        <td>{{salary | currency}}</td>
                    </tr>
                    <tr>
                        <td>{{salary}}</td>
                        <td>currency:'EUR'</td>
                        <td>{{salary | currency:'EUR'}}</td>
                    </tr>
                    <tr>
                        <td>{{salary}}</td>
                        <td>currency:'CAD':'symbol':'.0-0'</td>
                        <td>{{salary | currency:'LMP ':'symbol-narrow':'.0-0'}}</td>
                    </tr>
                    <tr>
                        <td>{{promise}}</td>
                        <td>async</td>
                        <td>{{promise | async}}</td>
                    </tr>
                    <tr>
                        <td>{{date}}</td>
                        <td>date</td>
                        <td>{{date | date}}</td>
                    </tr>
                    <tr>
                        <td>{{date}}</td>
                        <td>date:'medium'</td>
                        <td>{{date | date:'medium'}}</td>
                    </tr>
                    <tr>
                        <td>{{date}}</td>
                        <td>date:'short'</td>
                        <td>{{date | date:'short'}}</td>
                    </tr>
                    <tr>
                        <td>{{date}}</td>
                        <td>date:'MMMM - dd'</td>
                        <td>{{date | date:'MMMM - dd'}}</td>
                    </tr>
                    <tr>
                        <td>{{date}}</td>
                        <td>date:'MMMM - dd':'':'en'</td>
                        <td>{{date | date:'MMMM - dd':'':'en'}}</td>
                    </tr>
                    <tr>
                        <td>{{date}}</td>
                        <td>date:'MMMM - dd':'':'fr'</td>
                        <td>{{date | date:'MMMM - dd':'':'fr'}}</td>
                    </tr>
                    <tr>
                        <td>{{date}}</td>
                        <td>
                            date:'MMMM - dd':'':'{{i18n}}'
                            <br>
                            <button class="btn btn-primary" (click)="i18n = 'es-MX'">Español</button>
                            <button class="btn btn-secondary" (click)="i18n = 'en'">Inglés</button>
                            <button class="btn btn-success" (click)="i18n = 'fr'">Francés</button>
                        </td>
                        <td>{{date | date:'MMMM - dd':'':i18n}}</td>
                    </tr>
                    <tr>
                        <td>{{name}}</td>
                        <td>
                            password:{{enablePassword}}
                            <br>
                            <button class="btn btn-outline-primary" (click)="enablePassword = !enablePassword">Enable/Disable</button>
                        </td>
                        <td>{{name | password:enablePassword}}</td>
                    </tr>
                </tbody>
            </table>

            <h4>Slice</h4>
            <ul>
                <li *ngFor="let item of array | slice:5:20">{{item}}</li>
            </ul>
            <h4>JSON</h4>
            <hr>
            <div class="row mb-5">
                <div class="col"><pre>{{heroe | json}}</pre></div>
            </div>
        </div>
    </div>

    <h4>Domseguro</h4>
    <hr>
    <div class="row">
        <div class="col">
            <iframe 
                width="560"
                height="315"
                [src]="videoUrl | securedom"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
            </iframe>
        </div>
    </div>
</div>

