<div class="row">
    <div class="col">
        <div class="input-group mb-3">
            <input type="text" [(ngModel)]="searchTerm" (keyup)="onType()" class="form-control" placeholder="Search for Artists">
            <button class="btn btn-outline-success" (click)="clear()" type="button" id="button-addon2"><i class="fa-regular fa-circle-xmark"></i></button>
          </div>
    </div>
</div>

<div class="mt-5">
    <app-loading *ngIf="isLoading"></app-loading>
    <app-cards *ngIf="!isLoading" [items]="artists"></app-cards>
</div>
